.uboot-master-image {
  position: relative;
  left: -32px;
  top: -24px;

  img {
    width: calc(100% + 64px);
    max-width: calc(100% + 64px);
  }
}
.uboot-master-mantra {
  font-size: 2rem;
  margin-top: -0.3em;
  top: -1rem;
}
