.uboot-master-image {
  position: relative;
  left: -32px;

  img {
    width: calc(100% + 64px);
    max-width: calc(100% + 64px);
  }
}
.uboot-master-mantra {
  font-size: 2rem;
  // position: relative;
  // top: -1.5rem;
  // text-align: center;
}
